* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app {
  .main-application {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  background-color: #d1cfcf;
}